@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Турагентсво</h1>
    <p class="lead">Отправим вас далеко и надолго</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Узнать подробнее &raquo;</a></p>
</div>
